%p{:style => "margin-bottom: 10px"}
	Hi #{@user.name},
%p{:style => "margin-bottom: 10px"}
	Thank you for referring #{@friend_name} to Barn & Willow
%p{:style => "margin-bottom: 10px"}
	As a token of apprecation we have added a $10 credit to your account.
%p{:style => "margin-bottom: 10px"}
	Visit us soon at
	= link_to "Barn & Willow", root_url
